@media (min-width: 1921px) {

  .header {
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 100px;

    .header__content {
      padding: 0 10px;
      display: flex;
      width: calc(1200px + (5520 - 1200) * ((100vw - 1921px) / (9000 - 1921)));
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;

      .header__logo {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo__img {
          width: calc(54px + (248 - 54) * ((100vw - 1921px) / (9000 - 1921)));
          height: calc(54px + (248 - 54) * ((100vw - 1921px) / (9000 - 1921)));

        }

        .header__nameCompany {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: calc(18px + (100 - 18) * ((100vw - 1921px) / (9000 - 1921)));
          line-height: 18px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
      }

      .header__nav {

        ul {
          display: flex;
          gap: calc(145px + (600 - 145) * ((100vw - 1921px) / (9000 - 1921)));

          li {
            a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 300;
              font-size: calc(18px + (100 - 18) * ((100vw - 1921px) / (9000 - 1921)));
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
            }

            a:hover {
              border-bottom: 1px solid #E2A300;
            }
          }
        }
      }
    }

  }

  .main {
    &__block1 {
      width: calc(1200px + (5512 - 1200) * ((100vw - 1921px) / (9000 - 1921)));
      margin: 0 auto;

      .block1__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        .content__left {
          width: 50%;
          gap: calc(23px + (27 - 23) * ((100vw - 1921px) / (9000 - 1921)));

          .hello {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: calc(48px + (180 - 48) * ((100vw - 1921px) / (9000 - 1921)));
            line-height: calc(20px + (54 - 20) * ((100vw - 1921px) / (9000 - 1921)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .IM {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 700;
            font-size: calc(72px + (280 - 72) * ((100vw - 1921px) / (9000 - 1921)));
            line-height: calc(72px + (400 - 72) * ((100vw - 1921px) / (9000 - 1921)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .text {
            width: calc(430px + (1970 - 430) * ((100vw - 1921px) / (9000 - 1921)));
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size: calc(18px + (72 - 18) * ((100vw - 1921px) / (9000 - 1921)));
            line-height: calc(21px + (140 - 21) * ((100vw - 1921px) / (9000 - 1921)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .left__button {
            margin-top: 20px;
            padding: calc(14px + (56 - 14) * ((100vw - 1921px) / (9000 - 1921))) calc(40px + (100 - 40) * ((100vw - 1921px) / (9000 - 1921)));
            ;
            display: inline-block;
            background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
            box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
            border-radius: 6px;

            p {
              font-family: 'NEXT ART';
              font-style: normal;
              font-weight: 700;
              font-size: calc(18px + (72 - 18) * ((100vw - 1921px) / (9000 - 1921)));
              line-height: 20px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }

        .content__right {
          width: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));

          .right__relative {
            position: relative;

            .blue__circle {
              position: relative;
              bottom: 0;
              border: calc(28px + (70 - 28) * ((100vw - 768px) / (1920 - 768))) solid #00C4F0;
              width: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));
              height: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              z-index: 1;
              filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
              -webkit-filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
            }

            .skill {
              width: calc(50px + (90 - 50) * ((100vw - 768px) / (1920 - 768)));
              height: calc(50px + (90 - 50) * ((100vw - 768px) / (1920 - 768)));
              position: absolute;
              z-index: 2;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;

              img {
                width: 50%;
              }
            }

            .skill1 {
              top: calc(20px + (50 - 20) * ((100vw - 768px) / (1920 - 768)));
              left: calc(10px + (25 - 10) * ((100vw - 768px) / (1920 - 768)));
            }

            .UX {
              top: calc(110px + (215 - 110) * ((100vw - 768px) / (1920 - 768)));
              right: calc(280px + (520 - 280) * ((100vw - 768px) / (1920 - 768)));
            }

            .UI {
              top: calc(10px + (10 - 10) * ((100vw - 768px) / (1920 - 768)));
              ;
              left: calc(230px + (420 - 230) * ((100vw - 768px) / (1920 - 768)));
            }

            .PS {
              top: calc(220px + (400 - 220) * ((100vw - 768px) / (1920 - 768)));
              left: calc(-10px + (48 - 10) * ((100vw - 768px) / (9000 - 768)));
              z-index: 3;
              ;
            }

            .avatar {
              width: calc(290px + (450 - 290) * ((100vw - 768px) / (1920 - 768)));
              z-index: 3;
              position: absolute;
              bottom: 0;
              left: 60%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);

              img {
                width: 80%;
              }
            }
          }
        }
      }
    }

    &__block2 {
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);
      padding: 100px 0;

      .block2__content {
        margin: 0 auto;
        width: calc(1200px + (5520 - 1200) * ((100vw - 1921px) / (9000 - 1921)));

        .content__cards {
          display: flex;
          flex-wrap: wrap;
          gap: calc(40px + (160 - 40) * ((100vw - 1921px) / (9000 - 1921)));
          justify-content: center;

          .card {
            width: calc(270px + (1200 - 270) * ((100vw - 1921px) / (9000 - 1921)));
            height: calc(270px + (1200 - 270) * ((100vw - 1921px) / (9000 - 1921)));
            background: #2A2A2A;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
            border-radius: 29px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            img {
              width: 30%;
            }

            p {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: calc(24px + (110 - 24) * ((100vw - 1921px) / (9000 - 1921)));
              line-height: 29px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
            }
          }
        }
      }
    }

    &__block3 {
      padding: calc(65px + (120 - 65) * ((100vw - 768px) / (1920 - 768))) 0px calc(305px + (820 - 305) * ((100vw - 1921px) / (9000 - 1921))) 0px;
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);

      .block3__content {
        margin: 0 auto;
        width: calc(1200px + (5520 - 1200) * ((100vw - 1921px) / (9000 - 1921)));
        position: relative;

        .content__circles {
          position: relative;
          top: 0;
          left: 0;
          z-index: 1;

          .circle__white {
            width: calc(700px + (2600 - 700) * ((100vw - 1921px) / (9000 - 1921)));
            height: calc(700px + (2600 - 700) * ((100vw - 1921px) / (9000 - 1921)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: calc(80px + (320 - 80) * ((100vw - 1921px) / (9000 - 1921))) solid #E4E4E4;
            filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            transform: translateY(100px);
            -webkit-transform: translateY(100px);
            -moz-transform: translateY(100px);
            -ms-transform: translateY(100px);
            -o-transform: translateY(100px);
          }

          .circle__yellow {
            position: absolute;
            top: calc(100px + (150 - 100) * ((100vw - 1921px) / (9000 - 1921)));
            right: 0;
            width: calc(356px + (1630 - 356) * ((100vw - 1921px) / (9000 - 1921)));
            height: calc(356px + (1630 - 356) * ((100vw - 1921px) / (9000 - 1921)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: calc(35.6px + (220 - 35.6) * ((100vw - 1921px) / (9000 - 1921))) solid #E2A200;
            filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
          }

          .circle__blue {
            position: absolute;
            bottom: calc(-192px + (130 - 192) * ((100vw - 1921px) / (9000 - 1921)));
            right: 0;
            border-radius: 50%;
            width: calc(486px + (1900 - 486) * ((100vw - 1921px) / (9000 - 1921)));
            height: calc(486px + (1900 - 486) * ((100vw - 1921px) / (9000 - 1921)));
            border: calc(55px + (250 - 55) * ((100vw - 1921px) / (9000 - 1921))) solid #00C4F0;
            filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transform: translate(-10%, 20%);
            -webkit-transform: translate(-10%, 20%);
            -moz-transform: translate(-10%, 20%);
            -ms-transform: translate(-10%, 20%);
            -o-transform: translate(-10%, 20%);
          }
        }

        .content__photos {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;

          .photo1 {
            position: absolute;
            top: 0;
            left: calc(224px + (1200 - 224) * ((100vw - 1921px) / (9000 - 1921)));

            img {
              width: calc(181px + (272 - 181) * ((100vw - 768px) / (1920 - 768)));
              height: calc(213px + (320 - 213) * ((100vw - 768px) / (1920 - 768)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo2 {
            position: absolute;
            top: calc(540px + (2000 - 540) * ((100vw - 1921px) / (9000 - 1921)));
            left: calc(260px + (1060 - 260) * ((100vw - 1921px) / (9000 - 1921)));

            img {
              width: calc(250px + (1000 - 250) * ((100vw - 1921px) / (9000 - 1921)));
              height: calc(281px + (1100 - 281) * ((100vw - 1921px) / (9000 - 1921)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo3 {
            position: absolute;
            top: calc(360px + (1200 - 360) * ((100vw - 1921px) / (9000 - 1921)));
            left: calc(900px + (3500 - 900) * ((100vw - 1921px) / (9000 - 1921)));

            img {
              width: calc(260px + (1000 - 260) * ((100vw - 1921px) / (9000 - 1921)));
              // height: calc(400px + (427 - 400) * ((100vw - 1921px) / (9000 - 1921)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }
        }

        .about {
          position: absolute;
          top: 2%;
          left: calc(700px + (2800 - 700) * ((100vw - 1921px) / (9000 - 1921)));
          background: #2C2C2C;
          border-radius: 14px;
          width: calc(400px + (1600 - 400) * ((100vw - 1921px) / (9000 - 1921)));
          padding: 5% 3%;
          z-index: 3;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);

          .about__title {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 400;
            font-size: calc(48px + (220 - 48) * ((100vw - 1921px) / (9000 - 1921)));
            line-height: 54px;
            display: flex;
            align-items: center;
            color: #E4E4E4;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
          }

          .about__text {
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size: calc(20px + (80 - 20) * ((100vw - 1921px) / (9000 - 1921)));
            line-height: calc(24px + (96 - 24) * ((100vw - 1921px) / (9000 - 1921)));
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
          }
        }
      }
    }

    &__block4 {
      padding: 100px 0 150px 0;

      .block4__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block4__title {
          font-family: 'NEXT ART';
          font-style: normal;
          font-weight: 400;
          font-size: calc(48px + (196 - 48) * ((100vw - 1921px) / (9000 - 1921)));
          line-height: calc(54px + (100 - 54) * ((100vw - 1921px) / (9000 - 1921)));
          display: flex;
          align-items: center;
          padding-bottom: 100px;
          color: #FFFFFF;
        }

        .sliders {
          padding:calc(25px + (50 - 25) * ((100vw - 1921px) / (9000 - 1920)));
          width: calc(1100px + (3400 - 1100) * ((100vw - 1921px) / (9000 - 1920)));
          background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
          box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
          border-radius: 29px;

          .slider {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .portfolio__img {
              padding-left: 1px;
              width: calc(300px + (500 - 300) * ((100vw - 768px) / (1920 - 768)));
              height: calc(300px + (500 - 300) * ((100vw - 768px) / (1920 - 768)));
              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -ms-border-radius: 30px;
              -o-border-radius: 30px;
            }

            .portfolio__info {
              width: calc(300px + (1200 - 300) * ((100vw - 1921px) / (9000 - 1921)));
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .portfolio__title {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: calc(24px + (116 - 24) * ((100vw - 1921px) / (9000 - 1921)));
                line-height: 40px;
                padding-bottom: 100px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
              }

              .portfolio__text {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: calc(18px + (62 - 18) * ((100vw - 1921px) / (9000 - 1921)));
                line-height: calc(21px + (84 - 21) * ((100vw - 1921px) / (9000 - 1921)));
                display: flex;
                align-items: center;
                text-align: center;
                padding-bottom: 32px;
                color: #FFFFFF;
              }

              a {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: calc(18px + (62 - 18) * ((100vw - 1921px) / (9000 - 1921)));
                line-height: 21px;
                display: flex;
                align-items: center;
                color: #E2A100;
                img{
                  margin-left: 20%;
                  width: calc(20px + (62 - 20) * ((100vw - 1921px) / (9000 - 1921)));
                }
              }
              
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 50px 0;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);

    .footer__content {
      gap: 115px;
      display: flex;
      justify-content: center;

      .column {
        img{
          width: calc(54px + (216 - 54) * ((100vw - 1921px) / (9000 - 1921)));
        }
        ul {
          li {
            a {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: calc(18px + (102 - 18) * ((100vw - 1921px) / (9000 - 1921)));
              line-height: calc(21px + (102 - 21) * ((100vw - 1921px) / (9000 - 1921)));
              display: flex;
              align-items: center;
              color: #E4E4E4;
              padding-bottom: 18px;
            }
          }
        }
      }

      .column1 {}

      .column2 {}

      .column3 {
        img{
          width: calc(18px + (1002 - 18) * ((100vw - 1921px) / (9000 - 1921)));
        }
        ul {
          li {
            display: flex;

            a {
              display: block;

              .footer__logo {
                
              }

              p {
                margin-left: 15px;
              }
            }
          }
        }
      }

    }
  }
}

@media (max-width: 1920px) {

  .header {
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 100px;

    .header__content {
      padding: 0 10px;
      display: flex;
      width: calc(768px + (1200 - 768) * ((100vw - 768px) / (1920 - 768)));
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;

      .header__logo {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo__img {
          width: calc(38px + (54 - 38) * ((100vw - 768px) / (1920 - 768)));
          height: calc(38px + (38 - 38) * ((100vw - 768px) / (1920 - 768)));

        }

        .header__nameCompany {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
      }

      .header__nav {

        ul {
          display: flex;
          gap: calc(38px + (145 - 38) * ((100vw - 768px) / (1920 - 768)));

          li {
            a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
            }

            a:hover {
              border-bottom: 1px solid #E2A300;
            }
          }
        }
      }
    }

  }

  .main {
    &__block1 {
      width: calc(768px + (1200 - 768) * ((100vw - 768px) / (1920 - 768)));
      margin: 0 auto;

      .block1__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        .content__left {
          width: 50%;
          gap: calc(23px + (27 - 23) * ((100vw - 768px) / (1920 - 768)));

          .hello {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: calc(21px + (48 - 21) * ((100vw - 768px) / (1920 - 768)));
            line-height: calc(25px + (54 - 25) * ((100vw - 768px) / (1920 - 768)));
            ;
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .IM {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 700;
            font-size: calc(35px + (72 - 35) * ((100vw - 768px) / (1920 - 768)));
            line-height: 82px;
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .text {
            width: calc(350px + (430 - 350) * ((100vw - 768px) / (1920 - 768)));
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size: calc(13px + (18 - 13) * ((100vw - 768px) / (1920 - 768)));
            ;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .left__button {
            margin-top: 20px;
            padding: 14px 40px;
            display: inline-block;
            background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
            box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
            border-radius: 6px;

            p {
              font-family: 'NEXT ART';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 20px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }

        .content__right {
          width: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));

          .right__relative {
            position: relative;

            .blue__circle {
              position: relative;
              bottom: 0;
              border: calc(28px + (70 - 28) * ((100vw - 768px) / (1920 - 768))) solid #00C4F0;
              width: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));
              height: calc(302px + (575 - 302) * ((100vw - 768px) / (1920 - 768)));
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              z-index: 1;
              filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
              -webkit-filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
            }

            .skill {
              width: calc(50px + (90 - 50) * ((100vw - 768px) / (1920 - 768)));
              height: calc(50px + (90 - 50) * ((100vw - 768px) / (1920 - 768)));
              position: absolute;
              z-index: 2;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }

            .skill1 {
              top: calc(20px + (50 - 20) * ((100vw - 768px) / (1920 - 768)));
              left: calc(10px + (25 - 10) * ((100vw - 768px) / (1920 - 768)));
              ;
            }

            .UX {
              top: calc(110px + (215 - 110) * ((100vw - 768px) / (1920 - 768)));
              right: calc(280px + (520 - 280) * ((100vw - 768px) / (1920 - 768)));
            }

            .UI {
              top: calc(10px + (10 - 10) * ((100vw - 768px) / (1920 - 768)));
              ;
              left: calc(230px + (420 - 230) * ((100vw - 768px) / (1920 - 768)));
            }

            .PS {
              top: calc(220px + (400 - 220) * ((100vw - 768px) / (1920 - 768)));
              left: calc(-10px + (48 - 10) * ((100vw - 768px) / (1920 - 768)));
              z-index: 3;
              ;
            }

            .avatar {
              width: calc(255px + (560 - 255) * ((100vw - 768px) / (1920 - 768)));
              z-index: 3;
              position: absolute;
              bottom: 0;
              left: 60%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);

              img {
                width: 80%;
              }
            }
          }
        }
      }
    }

    &__block2 {
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);
      padding: 100px 0;

      .block2__content {
        margin: 0 auto;
        width: calc(768px + (1200 - 768) * ((100vw - 768px) / (1920 - 768)));

        .content__cards {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
          justify-content: center;

          .card {
            width: 270px;
            height: 270px;
            background: #2A2A2A;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
            border-radius: 29px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            img {}

            p {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: 24px;
              line-height: 29px;
              /* identical to box height */

              display: flex;
              align-items: center;

              /* text */

              color: #E4E4E4;
            }
          }
        }
      }
    }

    &__block3 {
      padding: calc(65px + (160 - 65) * ((100vw - 768px) / (1920 - 768))) 0px calc(605px + (220 - 605) * ((100vw - 768px) / (1920 - 768))) 0px;
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);

      .block3__content {
        margin: 0 auto;
        width: calc(768px + (1200 - 768) * ((100vw - 768px) / (1920 - 768)));
        position: relative;

        .content__circles {
          position: relative;
          top: 0;
          left: 0;
          z-index: 1;

          .circle__white {
            width: calc(400px + (792 - 400) * ((100vw - 768px) / (1920 - 768)));
            height: calc(400px + (792 - 400) * ((100vw - 768px) / (1920 - 768)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: calc(35.6px + (89 - 35.6) * ((100vw - 768px) / (1920 - 768))) solid #E4E4E4;
            filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
          }

          .circle__yellow {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(142px + (356 - 142) * ((100vw - 768px) / (1920 - 768)));
            height: calc(142px + (356 - 142) * ((100vw - 768px) / (1920 - 768)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 34px solid #E2A200;
            filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
          }

          .circle__blue {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            width: 486px;
            height: 486px;
            border: 55px solid #00C4F0;
            border: 55px solid #00C4F0;
            filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transform: translate(-10%, 20%);
            -webkit-transform: translate(-10%, 20%);
            -moz-transform: translate(-10%, 20%);
            -ms-transform: translate(-10%, 20%);
            -o-transform: translate(-10%, 20%);
          }
        }

        .content__photos {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;

          .photo1 {
            position: absolute;
            top: 0;
            left: calc(20px + (224 - 20) * ((100vw - 768px) / (1920 - 768)));

            img {
              width: calc(181px + (272 - 181) * ((100vw - 768px) / (1920 - 768)));
              height: calc(213px + (320 - 213) * ((100vw - 768px) / (1920 - 768)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo2 {
            position: absolute;
            top: 550px;
            left: calc(20px + (250 - 20) * ((100vw - 768px) / (1920 - 768)));

            img {
              width: calc(181px + (250 - 181) * ((100vw - 768px) / (1920 - 768)));
              height: calc(213px + (281 - 213) * ((100vw - 768px) / (1920 - 768)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo3 {
            position: absolute;
            top: 300px;
            left: calc(580px + (930 - 580) * ((100vw - 768px) / (1920 - 768)));

            img {
              width: calc(181px + (287 - 181) * ((100vw - 768px) / (1920 - 768)));
              height: calc(284px + (427 - 284) * ((100vw - 768px) / (1920 - 768)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }
        }

        .about {
          position: absolute;
          top: 2%;
          left: calc(400px + (700 - 400) * ((100vw - 768px) / (1920 - 768)));
          background: #2C2C2C;
          border-radius: 14px;
          width: 458px;
          padding: 30px 63px;
          z-index: 3;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);

          .about__title {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 54px;
            display: flex;
            align-items: center;
            color: #E4E4E4;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
          }

          .about__text {
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
          }
        }
      }
    }

    &__block4 {
      padding: 100px 0 150px 0;

      .block4__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block4__title {
          font-family: 'NEXT ART';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 54px;
          display: flex;
          align-items: center;
          padding-bottom: 50px;
          color: #FFFFFF;
        }

        .sliders {
          padding: 50px;
          width: calc(700px + (970 - 700) * ((100vw - 768px) / (1920 - 768)));
          background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
          box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
          border-radius: 29px;

          .slider {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .portfolio__img {
              padding-left: 1px;
              width: calc(300px + (500 - 300) * ((100vw - 768px) / (1920 - 768)));
              height: calc(300px + (500 - 300) * ((100vw - 768px) / (1920 - 768)));
              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -ms-border-radius: 30px;
              -o-border-radius: 30px;
            }

            .portfolio__info {
              width: calc(250px + (300 - 250) * ((100vw - 768px) / (1920 - 768)));
              ;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .portfolio__title {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                padding-bottom: 25px;

                display: flex;
                align-items: center;

                color: #FFFFFF;
              }

              .portfolio__text {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                text-align: center;
                padding-bottom: 32px;
                color: #FFFFFF;
              }

              a {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;

                color: #E2A100;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 50px 0;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);

    .footer__content {
      gap: 115px;
      display: flex;
      justify-content: center;

      .column {
        ul {
          li {
            a {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
              padding-bottom: 18px;
            }
          }
        }
      }

      .column1 {}

      .column2 {}

      .column3 {
        ul {
          li {
            display: flex;

            a {
              display: block;

              img {}

              p {
                margin-left: 15px;
              }
            }
          }
        }
      }

    }
  }
}

@media (max-width: 767px) {

  .header {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (767 - 320)));

    .header__content {
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      width: calc(320px + (767 - 320) * ((100vw - 320px) / (767 - 320)));
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;

      .header__logo {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 15px;

        .logo__img {
          width: calc(38px + (54 - 38) * ((100vw - 320px) / (767 - 320)));
          height: calc(38px + (38 - 38) * ((100vw - 320px) / (767 - 320)));

        }

        .header__nameCompany {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
      }

      .header__nav {
        width: 100%;

        ul {
          display: flex;
          justify-content: space-evenly;
          gap: calc(19px + (110 - 19) * ((100vw - 320px) / (767 - 320)));

          li {
            a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 300;
              font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (767 - 320)));
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
            }

            a:hover {
              border-bottom: 1px solid #E2A300;
            }
          }
        }
      }
    }

  }

  .main {
    &__block1 {
      width: calc(320px + (767 - 320) * ((100vw - 320px) / (767 - 320)));
      margin: 0 auto;

      .block1__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5px;

        .content__left {
          width: 90%;
          gap: calc(23px + (27 - 23) * ((100vw - 320px) / (767 - 320)));

          .hello {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: calc(21px + (48 - 21) * ((100vw - 320px) / (767 - 320)));
            line-height: calc(25px + (54 - 25) * ((100vw - 320px) / (767 - 320)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .IM {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 700;
            font-size: calc(35px + (72 - 35) * ((100vw - 320px) / (767 - 320)));
            line-height: calc(40px + (72 - 40) * ((100vw - 320px) / (767 - 320)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .text {
            width: calc(290px + (430 - 290) * ((100vw - 320px) / (767 - 320)));
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (767 - 320)));
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #E4E4E4;
          }

          .left__button {
            margin: 20px 0px;
            padding: 14px 40px;
            display: inline-block;
            background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
            box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
            border-radius: 6px;

            p {
              font-family: 'NEXT ART';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 20px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }

        .content__right {
          width: calc(302px + (575 - 302) * ((100vw - 320px) / (767 - 320)));

          .right__relative {
            position: relative;

            .blue__circle {
              position: relative;
              bottom: 0;
              border: calc(28px + (70 - 28) * ((100vw - 320px) / (767 - 320))) solid #00C4F0;
              width: calc(302px + (575 - 302) * ((100vw - 320px) / (767 - 320)));
              height: calc(302px + (575 - 302) * ((100vw - 320px) / (767 - 320)));
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              z-index: 1;
              filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
              -webkit-filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
            }

            .skill {
              width: calc(50px + (90 - 50) * ((100vw - 320px) / (767 - 320)));
              height: calc(50px + (90 - 50) * ((100vw - 320px) / (767 - 320)));
              position: absolute;
              z-index: 2;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }

            .skill1 {
              top: calc(-10px + (50 - 10) * ((100vw - 320px) / (767 - 320)));
              left: calc(100px + (25 - 100) * ((100vw - 320px) / (767 - 320)));
            }

            .UX {
              top: calc(74px + (215 - 74) * ((100vw - 320px) / (767 - 320)));
              right: calc(253px + (520 - 253) * ((100vw - 320px) / (767 - 320)));
            }

            .UI {
              top: calc(33px + (10 - 33) * ((100vw - 320px) / (767 - 320)));
              left: calc(230px + (420 - 230) * ((100vw - 320px) / (767 - 320)));
            }

            .PS {
              top: calc(220px + (400 - 220) * ((100vw - 320px) / (767 - 320)));
              left: calc(24px + (12 - 24) * ((100vw - 320px) / (767 - 320)));
              z-index: 3;
            }

            .avatar {
              width: calc(241px + (550 - 241) * ((100vw - 320px) / (767 - 320)));
              z-index: 3;
              position: absolute;
              bottom: 0;
              left: 60%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);

              img {
                width: 80%;
              }
            }
          }
        }
      }
    }

    &__block2 {
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);
      padding: 50px 0;

      .block2__content {
        margin: 0 auto;
        width: calc(320px + (767 - 320) * ((100vw - 320px) / (767 - 320)));

        .content__cards {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;

          .card {
            width: calc(135px + (270 - 135) * ((100vw - 320px) / (767 - 320)));
            height: calc(135px + (270 - 135) * ((100vw - 320px) / (767 - 320)));
            background: #2A2A2A;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
            border-radius: 29px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            img {
              width: 35%;
            }

            p {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (767 - 320)));
              line-height: 29px;
              /* identical to box height */

              display: flex;
              align-items: center;

              /* text */

              color: #E4E4E4;
            }
          }
        }
      }
    }

    &__block3 {
      padding: calc(65px + (160 - 65) * ((100vw - 320px) / (767 - 320))) 0px calc(460px + (150 - 460) * ((100vw - 320px) / (767 - 320))) 0px;
      background: linear-gradient(90deg, #414141 0%, #2D2D2D 100.52%);

      .block3__content {
        margin: 0 auto;
        width: calc(320px + (767 - 320) * ((100vw - 320px) / (767 - 320)));
        position: relative;

        .content__circles {
          position: relative;
          top: 0;
          left: 0;
          z-index: 1;

          .circle__white {
            width: calc(300px + (660 - 300) * ((100vw - 320px) / (767 - 320)));
            height: calc(300px + (660 - 300) * ((100vw - 320px) / (767 - 320)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: calc(35.6px + (89 - 35.6) * ((100vw - 320px) / (767 - 320))) solid #E4E4E4;
            filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
          }

          .circle__yellow {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(142px + (356 - 142) * ((100vw - 320px) / (767 - 320)));
            height: calc(142px + (356 - 142) * ((100vw - 320px) / (767 - 320)));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 34px solid #E2A200;
            filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25));
          }

          .circle__blue {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            width: 486px;
            height: 486px;
            border: 55px solid #00C4F0;
            border: 55px solid #00C4F0;
            filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transform: translate(-10%, 20%);
            -webkit-transform: translate(-10%, 20%);
            -moz-transform: translate(-10%, 20%);
            -ms-transform: translate(-10%, 20%);
            -o-transform: translate(-10%, 20%);
          }
        }

        .content__photos {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;

          .photo1 {
            position: absolute;
            top: 0;
            left: calc(20px + (12 - 20) * ((100vw - 320px) / (767 - 320)));

            img {
              width: calc(46px + (140 - 46) * ((100vw - 320px) / (767 - 320)));
              height: calc(60px + (180 - 60) * ((100vw - 320px) / (767 - 320)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo2 {
            position: absolute;
            top: calc(500px + (360 - 500) * ((100vw - 320px) / (767 - 320)));
            left: calc(20px + (16 - 20) * ((100vw - 320px) / (767 - 320)));

            img {
              width: calc(45px + (160 - 45) * ((100vw - 320px) / (767 - 320)));
              height: calc(63px + (185 - 63) * ((100vw - 320px) / (767 - 320)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }

          .photo3 {
            position: absolute;
            top: 300px;
            left: calc(262px + (929 - 580) * ((100vw - 320px) / (767 - 320)));

            img {
              width: calc(52px + (147 - 52) * ((100vw - 320px) / (767 - 320)));
              height: calc(86px + (260 - 86) * ((100vw - 320px) / (767 - 320)));
              box-shadow: 0px 0px 0px 6px #686868;
            }
          }
        }

        .about {
          position: absolute;
          top: 1%;
          left: calc(160px + (400 - 160) * ((100vw - 320px) / (767 - 320)));
          background: #2C2C2C;
          border-radius: 14px;
          width: calc(300px + (520 - 300) * ((100vw - 320px) / (767 - 320)));
          padding: 15px 63px;
          z-index: 3;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);

          .about__title {
            font-family: 'NEXT ART';
            font-style: normal;
            font-weight: 400;
            font-size:calc(24px + (38 - 24) * ((100vw - 320px) / (767 - 320)));
            line-height: calc(29px + (54 - 29) * ((100vw - 320px) / (767 - 320)));
            display: flex;
            align-items: center;
            color: #E4E4E4;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
          }

          .about__text {
            font-family: 'Arodora Pro';
            font-style: normal;
            font-weight: 300;
            font-size:calc(12px + (20 - 12) * ((100vw - 320px) / (767 - 320)));
            line-height: 19px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
          }
        }
      }
    }

    &__block4 {
      padding: 100px 0 150px 0;

      .block4__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block4__title {
          font-family: 'NEXT ART';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 54px;
          display: flex;
          align-items: center;
          padding-bottom: 50px;
          color: #FFFFFF;
        }

        .sliders {
          padding: 50px;
          width: calc(282px + (700 - 282) * ((100vw - 320px) / (767 - 320)));
          background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
          box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
          border-radius: 29px;

          .slider {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: center;

            .portfolio__img {
              padding-left: 1px;
              width: calc(182px + (500 - 182) * ((100vw - 320px) / (767 - 320)));
              height: calc(182px + (500 - 182) * ((100vw - 320px) / (767 - 320)));
              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              -ms-border-radius: 30px;
              -o-border-radius: 30px;
            }

            .portfolio__info {
              width: calc(184px + (500 - 184) * ((100vw - 320px) / (767 - 320)));
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .portfolio__title {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                padding-bottom: 25px;

                display: flex;
                align-items: center;

                color: #FFFFFF;
              }

              .portfolio__text {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (767 - 320)));
                line-height: 21px;
                display: flex;
                align-items: center;
                text-align: center;
                padding-bottom: 12px;
                color: #FFFFFF;
              }

              a {
                font-family: 'Arodora Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;

                color: #E2A100;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 30px 10px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);

    .footer__content {
      gap: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .column {
        ul {
          li {
            a {
              font-family: 'Arodora Pro';
              font-style: normal;
              font-weight: 300;
              font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (767 - 320)));
              line-height: 15px;
              display: flex;
              align-items: center;
              color: #E4E4E4;
              padding-bottom: 18px;
            }
          }
        }
      }

      .column1 {}

      .column2 {}

      .column3 {
        ul {
          li {
            display: flex;

            a {
              display: block;

              img {}

              p {
                margin-left: 15px;
              }
            }
          }
        }
      }

    }
  }
}